#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config NET_WIREGUARD
	bool "WireGuard VPN support"
	default n
	depends on NET && NET_UDP
	---help---
		Enable WireGuard VPN support for NuttX. Implements WireGuard as
		an lwIP virtual network interface (wg0). Requires UDP and the
		lwIP network stack.
